.card-container{
    background-color: pink;
	display: flex;
	flex-direction: column;
	border: 2px solid red;
	height: 170px;
	width: 100px;
}
body{

	background-color: #eee;
}
.card-main{
	display: flex;
	flex-direction: column;
	/* font-size: xx-small; */
}
.card-image-inner{
	/* height: 70px;
	width: 80px; */
	margin-top: 1px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}