@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.nav-title{
  font-weight: 900;
  font-size: smaller;
  color: aliceblue;
  margin-left: 50%;
}
.nav-links{
  display: flex;
  margin-right: 8%;
  color: white;
  margin-left: 100%;
}

.nav-link-link {
  font-size: x-small;
  margin: 3%;
}
.container-home {
  display: flex;
  height: 350px;
  background-image: url("./images/woman-with-shopping-bags.jpg");
}